#nav-bar {
  padding: 1.5rem 0 0 0;
  display: flex;
  flex-direction: row;
  gap: .75rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center; 
}

#footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
#footer-links {
  display: flex;
  gap: 2rem;
}
#footer-links a{
  text-decoration: none;
}
.accent-data {
  color: var(--accent);
}

.theme-transition {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.tags-data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end;
  gap: 1rem;

}

.title-list li {
  margin-bottom: .375rem;  
}
.title-list li::marker {
  content: "";
}
.item-style {
  display: flex;
  align-items: flex-start;
}
/* .project-item-style {
  display: flex;
  gap: 8px;
  flex-direction: column;
  gap: 4px;
} */
/* .project-item-style {
  display: flex;
  align-items: baseline;  
  gap: 8px;
} */

.project-title {
  white-space: nowrap;     /* prevents title from breaking */
  /* font-weight: 600; */
}

.project-desc {
  opacity: 0.75;
  /* font-size: 0.9rem; */
}

.date-time-style {
  display: block;
  /* font-size: 14px; */
  color: #c1c1c1;
  min-width: 100px;
  margin-right: 16px;
}
/* icons settings */
.icons {
  width: 1.3rem;
  height: 1.3rem;
  aspect-ratio: 1/1;
  display: inline-block;
  vertical-align: middle;
  color: var(--text);
  fill: var(--text);
  background-color: transparent;
  cursor: pointer;
}

.icons:hover {
  background-color: transparent;
  color: var(--accent);
}

/* footnotes */
.footnote-definition {
  margin: 0 0 0 .125rem;
}

.footnote-definition-label {
  color: var(--accent);
}

.footnote-definition p {
  display: inline;
  margin: .625rem 0 0 .625rem;
}

/* general classes */
.no-style {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0
}

.no-style:hover {
  background-color: transparent;
  color: var(--accent);
}

.center {
  text-align: center;
}

.center img {
  display: block;
  margin: 1rem auto;
}

.float-right {
  float: right
}

.float-left {
  float: left
}

/* shortcodes css */
.webring {
  margin: .375rem;
}

.social-icons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.social-icons a {
  display: inline-flex;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-icons a:hover {
  transform: translateY(-2px);
  opacity: 0.8;
}
