{% extends "base.html" %}

{% block content %}
{% set data = load_data(path="data/indie-web.json") %}
{% set sites = data.results %}

<h1>{{ page.title }}</h1>
<p>{{ page.description }}</p>

<ul class="indie-web-list">
  {% for site in sites %}
  {% if "indieWebsites" in site.tag_names %}
    <li class="indie-web-item">
      <a href="{{ site.url }}" target="_blank" rel="noopener">
        {{ site.title }}
      </a>
      <span> - {{ site.description | truncate(length=100) }}</span>
    </li>
    {% endif %}
  {% endfor %}
</ul>
{% endblock %}
